# ========== FRONTEND ==========
node_modules/
dist/
dist-ssr/
.vite/
.cache/
*.local
.env

# ========== BACKEND ==========
venv/
__pycache__/
*.py[cod]
*.pyo
.env
*.sqlite3
instance/
*.egg-info/
.eggs/

# ========== LOGS ==========
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ========== EDITORS ==========
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ========== SYSTEM FILES ==========
Thumbs.db
ehthumbs.db
